.body {
  margin: 0;
  padding: 0;
}

.Main-image {
  height: 930px;
  width: 100%;
  background-image: url(images/image\ copy\ 8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;


}
.navbar{
  height: 15%;
}

/* Resize the button */
.custom-toggler {
  width: 50px;
  /* Adjust the width as needed */
  height: 50px;
  /* Adjust the height as needed */
}
.nav-item{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.whatsapp-contact {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  
}

/*main-Header*/
.Main-Text{
  height: 45%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.TrustText h1{
  font-size: 70px;
  font-weight: 900;
}


/*Header-main-image*/
.Header-main-image{
  width: 100%;
  height: 40%;
  
}
.Header-main-image img {
  max-width: 100%;
  height: 370px;
  object-fit: contain; /* Ensures the image fits within the container without being cropped */
}

/*Truck-Services*/
.Truck-Service{
  width: 100%;
  height: 570px;
  background-color: black;
}

.Truck-Service-Header{
  width: 100%;
  height: 35%;
  background-color:black;
  align-items: self-start;
  
  
}
.TextOne{
  width: 80%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: start;
  font-size: 45px;
  margin-top: 2%;
  margin-left: 15%;
  font-weight: bolder;
  color: #fff;
}
.TextTwo{
  width: 80%;
  height: 100%;
  display: flex;

  justify-items: center;
  align-items: start;
  font-size: 20px;
  margin-top: 3%;
  margin-left: 10%;
  font-weight: bolder;
  color: #fff;
}
.Truck-Options{
  width: 80%;
  height: 65%;
  background-color:black;
  align-items: self-start;
}
.Vehicle-Details{
  width: 90%;
  height: 310px;
  background-color: yellow;
  border-radius: 10%;
  background-image: url('images/image copy 11.png');
  background-size: 150% ; /* Ensures the image covers the entire area without distortion */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; 
  
}
.Vehicle-Image{
  width: 130px;
  height: 120px;
  
  align-items: end;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;

}
.Vehicle-Image img{
  width: 100%;
  height: 80%;
  display: flex;
 
  
}
.Vehicle-details-div{
  width: 100%;
  height: 120px;
  margin-top: 20px;
  margin-left: 10px;
}
.Vehicle-details-div h2{
  font-weight: bold;
}

/*Quick-Section*/
.Quick-Section{
  width: 100%;
  height: 600px;
  background-color:white;
  align-items: self-start;
}
.Image-Section-Quick-Sec{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 600px;
  background-color: aqua;
  background-image: url(images/image\ copy\ 16.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  
}
.fasttan-logo img{
  width: 250px;
  height: 100px;
  margin-top: 20%;
  margin-left: 36%;
  color:#fff;
}
.Sub-head-intycity{
 color: #fff;
 margin-top: 5%;
  margin-left: 30%;
  font-size: large;
  font-weight: 900;
}
.Vehicle-Option-Display{
  width: 600px;
  margin-top: 20%;
  margin-left: 20%;
  color:#fff;
  font-size: large;
  font-weight: 900;
}
.header-Quick-list{
  width: 100%;
  height: 20%;
}
.header-Quick-list h1{
  font-size: 50px;
  font-weight: 700;
  margin-left: 2%;
}
.list-Quick-List{
  width: 100%;
  height: 75%;
  background-color:white;
}
.items-Quick-list{
  width: 80%;
  height: 17%;
  color: black;
  font-size: larger;
  font-weight: 600;
  

}
.items-Quick-list img{
  width: 50px;
  height: 50px;
}

/*Intrcity-Service-Section*/
.Intrcity-Service-Section{
  width: 100%;
  height: 1200px;
  background-color:black;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Header-Intrcity-Section{
 width: 100%;
 height: 30%;
 display: block;
 background-color: black;
 color: #fff;
}
.Intrcity-Header-Text{
  margin-left: 45%;
  font-size: 150px;
  font-weight: 900;
  
}
.Intrcity-Sub-Content-Text{
  font-size: 18px;
  margin-top: 10px;
}
.body-Intrcity-Section{
  width: 80%;
  height: 100%;
  color: black;
  margin-left: 10%;
  background-color: black;
}
.container-One{
  width: 90%;
  height: 500px;
  background-color:sandybrown ;
  border-radius: 20px;
  margin: 20px;
}
.container-One h1{
  margin-left: 20px;
  margin-top: 30px;
}
.container-One h5{
  margin-left: 20px;
  margin-top: 30px;
  font-size: 18px;
}
.container-One img{
  width: 300px;
  height: 300px;
  margin-left: 10%;
}
.container-Two{
  width: 97%;
  height: 500px;
  background-color:rgb(51, 202, 139);
  border-radius: 20px;
  
  margin: 20px;
}
.container-Two img{
  width: 300px;
  height: 300px;
  margin-left: 30%;
}
.container-Two h1{
  margin-left: 20px;
  margin-top: 30px;
}
.container-Two h5{
  margin-left: 20px;
  margin-top: 30px;
  font-size: 18px;
}
.container-long{
  width: 98%;
  height: 300px;
  background-color:rgb(183, 243, 225) ;
  border-radius: 20px;
  margin: 20px;
}
.container-long img{
  width: 300px;
  height: 250px;
  margin-top: 10px;
}
.container-long h1{
  margin-left: 20px;
  margin-top: 30px;
}
.container-long h5{
  margin-left: 20px;
  margin-top: 30px;
  font-size: 18px;
}

/*Emergency-Section*/
.Emergency-Section{
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
}
.Emergecy-senction-Head-Text{
  height: 100px;
  width: 700px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 30%;
  margin-top: 2%;
  
  
}
.sub-text-Emergency-section{
  margin-left: 25%;
  
}
.Content-div-Emergecy{
  width: 100%;
  height: 30%;
 ;
}

/*form-Section*/
.form-Section{
  width: 100%;
  height: 600px;
  background-color:white;
}
.Form{
  width: 1005;
  height: 500PX;
  background-color: white;
  align-items: flex-start;
  display: flex;
  justify-content: start;
}
.Head-Text-Form-Section{
  margin-left: 10%;
}
.Sub-Text-Form-Section{
  margin-left: 10%;
}
.Message-Field{
  width: 70%;
  margin-left: 25%;
}
.Message-Field-first{
  width: 85%;
  margin-left: 12%;
}
.Submitt{
  width: 300px;
  margin-left: 47%;
  margin-top: 30px;
}
/*ReadyToOptimize*/
.ReadyToOptimize{
  width: 74%;
  height: 370px;
  background-color: white;
  margin-left: 10%;
}
.Parent-div{
  margin-left: 35%;
  
}
.Parent-div h1{
  font-size: 50px;
  font-weight: 600;
  font-stretch: extra-condensed;
}
.sub-content-ReadyToOptimize{
  margin-left: 25%;
  margin-top: 2%;
}
.buttoms-readyToOptimize{
  margin-left: 40%;
  margin-top: 5%;
}

/*Footer-Section*/
.Footer-Section{
  width: 100%;
  height: 350px;
  background-color:black;
  background-image: url();
  
}
.Footer-Section h3{
  font-size: medium;
  margin-top: 20px;
  color:  #fff;
}
.Footer-Section h2{
  margin-top: 30px;
  color:  #fff;
}
.Footer-Section img{
  margin-left: 40px;
  margin-top: 30px;
  color:  #fff;
  
}
.location-Footer{
  font-size: medium;
  margin-left: 40px;
  margin-top: 20px;
  color:  #fff;
}
.rights{
  margin-top: 40px;
}

/* Align the button to the left */
@media (max-width: 991px) {
  .navbar-custom .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-custom .navbar-toggler {
    order: -1;
    /* Ensure the button is first in order */
  }
}

@media (max-width: 642px) {
  .Main-image {
    height: 1200px;

  }
  .Header-main-image img{
    margin-top:40px;
  }
  .Truck-Service{
    height: 1800px;
  }
  .Truck-Service-Header{
    height: 20%;
  }
  .Truck-Options{
    height: 75%;
  }
  .Quick-Section{
    height: 1300px;
  }
  .Intrcity-Service-Section{
height: 2000px;
  }
}